.add {
    max-width: 45rem;
    width: 100%;
    margin: 3rem 8.25rem 3.75rem;

    &__title {
        font-size: 2rem;
    }

    &__form {
        display: flex;
        justify-content: left;
        flex-direction: column;

        &-wrapper {
            position: relative;
            margin-top: 2rem;
            display: grid;
            grid-template-columns: 18rem 1fr;
            column-gap: 1rem;
        }

        &-file-output {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 18rem;
            height: 13.25rem;
            width: 100%;
            border: $grey 2px solid;
            border-radius: 0.5rem;
            color: $white;
            object-fit: cover;

            &::-webkit-mask-image {
                visibility: hidden;
            }

            &::after {
                position: absolute;
                content: "Imagem";
                display: inline-block;
                outline: none;
                white-space: nowrap;
                color: $grey;
                font-size: 1rem;
                font-family: $roboto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &:focus {
                outline: none !important;
                border: $purple 0.125rem solid;
            }
        }

        &-file-img {
            max-width: 17.5rem;
            height: 12.75rem;
            width: 100%;
            object-fit: cover;
            border-radius: 0.5rem;
        }

        &-file-input[type="file"] {
            position: absolute;
            left: 0;
            top: 0;
            max-width: 18rem;
            height: 13.25rem;
            width: 100%;
            opacity: 0;
            cursor: pointer;

            &::-webkit-file-upload-button {
                cursor: pointer;
            }
        }

        &-inputs {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            flex-direction: column;

            &-title {
                height: 3.5rem;
                max-width: 20.5rem;
                width: 100%;
                padding: 0 1rem;
            }

            &-desc {
                height: 8.5rem;
                max-width: 26rem;
                width: 100%;
                resize: none;
                padding: 1rem;
            }
            &-title,
            &-desc {
                border: $grey 2px solid;
                border-radius: 0.25rem;
                color: $purple;
                font-size: 1rem;
                font-family: $roboto;
            }

            &-title:focus,
            &-desc:focus {
                outline: none;
                border: $purple 0.125rem solid;
            }

            &-title::-webkit-input-placeholder,
            &-desc::-webkit-input-placeholder {
                color: $grey;
            }
        }

        &-button {
            align-self: flex-end;
            margin-top: 1rem;
            width: 7.5rem;
            height: 3.5rem;
            background: $orange;
            color: $white;
            border: none;
            border-radius: 0.5rem;
            transition: 0.2s linear background;

            &:hover {
                background: $lightOrange;
            }

            &:active {
                background: $orange;
            }

            &:focus {
                outline: none;
                border: $purple 2px solid;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .add {
        max-width: 45rem;
        margin: 3rem;

        &__form {
            &-wrapper {
                margin-top: 2rem;
            }

            &-inputs {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                flex-direction: column;
                row-gap: 1rem;
            }
        }
    }
}

@media only screen and (max-width: 816px) {
    .add {
        max-width: 36rem;

        &__form {
            max-width: 26rem;

            &-wrapper {
                grid-template-columns: 1fr;
                row-gap: 1rem;
            }
        }
    }
}

@media only screen and (max-width: 672px) {
    .add {
        max-width: 21.375rem;
        width: 100%;
        margin: 1rem;

        &__title {
            font-size: 2rem;
        }

        &__form {
            display: flex;
            justify-content: left;
            flex-direction: column;

            &-inputs {
                &-title {
                    height: 3.5rem;
                    max-width: 21.25rem;
                }

                &-desc {
                    height: 8.25rem;
                    max-width: 21.25rem;
                }
            }

            &-button {
                align-self: center;
                width: 21.375rem;
            }
        }
    }
}

@media only screen and (max-width: 360px) {
    .add {
        max-width: 16rem;
        margin: 0.5rem;

        &__title {
            font-size: 1.5rem;
        }

        &__form {
            &-wrapper {
                margin-top: 1rem;
            }

            &-file-img {
                max-width: 17.5rem;
                height: 12.75rem;
            }

            &-button {
                margin-top: 1rem;
                width: 16rem;
            }
        }
    }
}
