.list {
    margin: 0 8.25rem 3rem;

    &__title {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
        row-gap: 1.5rem;

        &-card {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            width: 36rem;
            height: 13.25rem;
            border-radius: 1rem;
            box-shadow: 0px 0.25rem 1rem rgba(0, 0, 0, 0.08);

            &-image {
                display: block;
                width: 18rem;
                height: 13.25rem;
                object-fit: cover;
                border-radius: 0.5rem;
            }

            &-text {
                max-width: 18rem;
                width: 100%;
                padding: 1.5rem;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
            }

            &-title {
                max-width: 15rem;
                height: fit-content;
                font-size: 1.5rem;
                color: $heavyBlack;
                overflow: hidden;
            }

            &-desc {
                font-family: $roboto;
                font-size: 1rem;
                color: $darkGrey;
                line-height: 1.5rem;
                max-width: 15rem;
                height: 6.125rem;
                overflow-y: auto;
                overflow-x: hidden;

                &::-webkit-scrollbar {
                    width: 0.5rem;
                }

                &::-webkit-scrollbar-track {
                    background: $white;
                }

                &::-webkit-scrollbar-thumb {
                    background: $heavyBlack;
                    border-radius: 1rem;
                    border: 0.125rem solid $white;
                }
            }
        }
    }
}

@media only screen and (max-width: 1324px) {
    .list {
        &__items {
            grid-template-columns: repeat(1, 36rem);
            column-gap: 0;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .list {
        margin: 0 3rem;
    }
}

@media only screen and (max-width: 672px) {
    .list {
        max-width: 21.375rem;
        margin: 0 1rem;

        &__items {
            &-card {
                flex-direction: column;
                width: 21.375rem;
                height: 26.5rem;
                align-items: center;

                &-image {
                    max-width: 21.375rem;
                }

                &-text {
                    width: 18rem;
                    height: 13.5rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 360px) {
    .list {
        max-width: 16rem;
        margin: 1rem 0.5rem;

        &__title {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        &__items {
            &-card {
                width: 16rem;
                height: 20rem;

                &-image {
                    max-width: 16rem;
                    height: 10.125rem;
                }

                &-text {
                    width: 13.5rem;
                    padding: 1rem 0.5rem;
                }

                &-title {
                    font-size: 1.5rem;
                    line-height: 1.75rem;
                }

                &-desc {
                    font-size: 0.825rem;
                    line-height: 1rem;
                }
            }
        }
    }
}
