@import "../utils/variables.scss";

body {
    -webkit-text-size-adjust: none;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: $white;
    }

    &::-webkit-scrollbar-thumb {
        background: $heavyBlack;
        border-radius: 0.25rem;
        border: 0.125rem solid $white;
    }
}

body,
input,
button {
    font-family: $poppins;
    font-size: 16px;
    color: $black;
}

button {
    cursor: pointer;
}

.u-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
}

@media only screen and (max-width: 672px) {
    .u-container {
        align-items: center;
    }
}
