//colors
$black: #000000;
$heavyBlack: #333333;
$darkGrey: #858585;
$grey: #e5e5e5;
$white: #ffffff;
$orange: #ff5a5f;
$lightOrange: #ff9e5f;
$purple: #6200ee;

//fonts
$roboto: "Roboto", sans-serif;
$poppins: "Poppins", sans-serif;
